.DS_Store
Thumbs.db
*.log
node_modules/
dist
desktop.ini
storage
__pycache__
ArcGIS/typescript/apikeys.json
RssFeedDownloader/Podcast.xml
RssFeedDownloader/download.sh
fritzbox2telegraf/.env
/DotNet/Mediatr/Road.API/logs
